DATABASE_URL = "connection string"
PORT = 4000

# Brevo Transactional Email API
BREVO_API_KEY = "your_brevo_api_key_here"
BREVO_SENDER_EMAIL = "your_verified_sender_email"
BREVO_SENDER_NAME = "EduSahayak"

JWT_SECRET = "JWT_Secret"
ENVIRONMENT = development
